
/* theme colors */
// $color-dark-primary: #2c3e50;
$color-dark-primary: #3b3c3d;

/* ingredient category colors */
$color-base-spirit: #7990a6;
$color-other-spirit: #a88da8;
$color-wine-beer: #b5aa82;
$color-liqueur-cordial: #a88d8d;
$color-mixer: #8da89b;
$color-fruit-juice: #9ea88d;
$color-flavoring-syrup: #81d488;
$color-herb-spice : #a68a79;
$color-garnish: #9ba88d;
$color-other-unknown: #808080;